.page-form-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-form{
    width: 80%;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.185) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-form-block{
    width: 100%;
    display: flex;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-form-block label{
    font-size: 20px;
    font-weight: 600;
}

.page-form-field{
    width: 60%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.page-form-textarea{
    width: 80%;
    height: 150px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.page-form-submit{
    padding: 10px 15px;
    font-size: 15px;
}
