.cabecalho-container{
    width: 100%;
    height: 150px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    margin-bottom: 20px;
}

.logo-area{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aura-logo{
    font-family: serif;
    font-weight: 400;
    color: rgb(70, 70, 70);
    font-size: 55px;
}

.escola-logo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgb(70, 70, 70);
    font-size: 25px;
    margin-top: -15px;
}


.navegacao-area{
    width: 70%;
    height: 100%;

}

.navegacao-ul{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.navegacao-li{
    list-style-type: none;
    margin: 15px;
}

.navegacao-li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.767);
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
}

.navegacao-li a:hover{
    animation-name: navegacao-a_hover;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

@keyframes navegacao-a_hover{
    0%{text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192)}
    100%{text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.822)}
}